main{
    justify-content: center;
}

.input-style{
    width: 100%;
    outline: none;
    border: none;
    display: block;
    margin: 1rem 0 0.5rem;
    /* border-bottom: 2px solid white; */
    padding: 1.8rem 2rem;
    border-radius: 3px;
    background-color: #cecece;
}

.highlight{
    /* display: inline; */
    margin-right: 0.3rem;
    margin-left: 0.2rem;
    border-radius: 5px;
    padding: 0.2rem 0.8rem;
    background-color: rgba(255, 182, 182, 0.6);
}

.insig{
    color: #858585;
    font-size: 2rem;
}

.input-style+.error-alert{
    font-size: 1.1rem;
    text-transform: initial;
    opacity: 0;
    color: #d80d0d;
    margin-bottom: 1rem;
}

.page-section .request-method{
    margin-right: 1rem;
    border-radius: 10px;
    padding: 0.3rem 1rem;
    background-color: rgba(172, 255, 47, 0.65);
}

.page-section h2{
    text-transform: lowercase;
}

.page-section-head ol{
    margin: 0 auto;
}

.page-section-head li{
    margin-bottom: 1rem;
    text-align: left;
}

.page-section summary{
    margin-top: 1rem;
    outline: none !important;
    padding: 0.3rem 0.3rem;
}

.page-section-head .brief-text, .page-section-head .brief-text *, .page-section .brief-text, .page-section .brief-text *{
    font-size: 1.33rem;
}

.page-section summary:hover{
    cursor: pointer;
}

.page-section summary + .example-block{
    text-transform: initial;
    font-size: 1.5rem !important;
    background-color: #3f3f40;
    color: #fff06d;
    padding: 2rem;
    border-radius: 5px;
    display: block;
    margin-top: 0.8rem;
    overflow: auto;
    max-height: 400px;
}

.page-section summary + .example-block pre{
    line-height: 1.5;
    font-weight: 500;
}

.page-section summary + .example-block .comment{
    font-style: italic;
    color: #8d8d8d;
}

.page-section summary + .example-block .string-value{
    color: #86d3ff;
}

@media only screen and (max-width:800px){
    .navlinks{
        font-size: 1.2rem;
        margin-top: 1rem;
    }

    .insig{
        font-size: 1.5rem;
    }

    .page-section summary + .example-block{
        font-size: 1.4rem !important;
    }
}